<!-- 遮罩层 start-->
<div v-show="msg" [class]="msg?'mask':'cm-hidden'"></div>
<!-- 遮罩层end -->
<!-- 提示框start -->
<div v-show="msg" [class]="msg?'dialog-container':'cm-hidden'">
    <div class="dialog-title">
        <strong>{{title}}</strong>
    </div>
    <div class="dialog-text">
        <span>{{msg}}</span>
    </div>
    <div class="dialog-action-two clearfix" >
        <div class="mobile-dialog-two-cancel .button" (click)="cancel();msg = false"><span>{{cancelText}}</span></div>
        <div class="mobile-dialog-two-sure " (click)="success();msg = false"><span>{{successText}}</span></div>
    </div>
</div>

<!-- END操作成功 -->